
  .card {
    margin-top: 10px !important;
}
.form-control {
    width: 400px !important;
}

.card-img-right{
    width: 300px !important;
    height: auto !important;
}

body > div > div.recycler.d-inline.cardEvent > div > div > div > div.mb-1.text-muted.pd-1{
    margin-top: 0.25rem!important;
}

body > div > div.recycler.d-inline.cardEvent > div > div > div > div:nth-child(4){
    margin-top: 0rem!important;
}

body > div > div.recycler.d-inline.cardEvent > div > div > div > div.p-3.mb-2.bg-info.text-white{
    margin-top: 0.5rem!important;
}